* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
a {
  color: black;
} */

.container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
